/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

:root {
  /* RESETS */
  --range-webkit-appearance: none;
  --range-width: 60%;
  --range-background: transparent;
  --range-outline: none;
  --range-cursor: pointer;
  --range-border-color: transparent;
  --range-color: transparent;

  /* CUSTOM */

  /* The "dial" */
  --range-thumb-custom-border: 3px solid gainsboro;
  --range-thumb-custom-height: 2em;
  --range-thumb-custom-width: var(--range-thumb-custom-height);
  --range-thumb-custom-border-radius: 2em;
  --range-thumb-custom-cursor: pointer;
  --range-thumb-custom-background: white;
  --range-thumb-custom-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

  /* The track the "dial" sits on */
  --range-track-custom-width: var(--range-width);
  --range-track-custom-height: 4px;
  --range-track-custom-cursor: pointer;
  --range-track-custom-background: rgb(59, 68, 76);
  --range-track-custom-background-focus: rgb(59, 68, 76);
  --range-track-custom-border-radius: 1em;
}

/* 

RESETS */

input[type="range"] {
  -webkit-appearance: var(--range-webkit-appearance); /* Hides the slider so that custom slider can be made */
  width: var(--range-width); /* Specific width is required for Firefox. */
  background: var(--range-background); /* Otherwise white in Chrome */
  display: block;
  margin: 1.5em auto;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: var(--range-webkit-appearance);
}

input[type="range"]:focus {
  outline: var(--range-outline);
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: var(--range-width);
  cursor: var(--range-cursor);

  /* Hides the slider so custom styles can be added */
  background: var(--range-background);
  border-color: var(--range-border-color);
  color: var(--range-color);
}

/* 

BEGIN CUSTOM STYLING */

/* The "dial" */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: var(--range-webkit-appearance);

  box-shadow: var(--range-thumb-custom-box-shadow);
  border: var(--range-thumb-custom-border);
  height: var(--range-thumb-custom-height);
  width: var(--range-thumb-custom-width);
  border-radius: var(--range-thumb-custom-border-radius);
  background: var(--range-thumb-custom-background);
  cursor: var(--range-thumb-custom-cursor);

  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type="range"]::-moz-range-thumb {
  box-shadow: var(--range-thumb-custom-box-shadow);
  border: var(--range-thumb-custom-border);
  height: var(--range-thumb-custom-height);
  width: var(--range-thumb-custom-width);
  border-radius: var(--range-thumb-custom-border-radius);
  background: var(--range-thumb-custom-background);
  cursor: var(--range-thumb-custom-cursor);
}

input[type="range"]::-ms-thumb {
  box-shadow: var(--range-thumb-custom-box-shadow);
  border: var(--range-thumb-custom-border);
  height: var(--range-thumb-custom-height);
  width: var(--range-thumb-custom-width);
  border-radius: var(--range-thumb-custom-border-radius);
  background: var(--range-thumb-custom-background);
  cursor: var(--range-thumb-custom-cursor);
}

/* The track */

input[type="range"]::-webkit-slider-runnable-track {
  width: var(--range-track-custom-width);
  height: var(--range-track-custom-height);
  cursor: var(--range-track-custom-cursor);
  background: var(--range-track-custom-background);
  border-radius: var(--range-track-custom-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--range-track-custom-background-focus);
}

input[type="range"]::-moz-range-track {
  width: var(--range-track-custom-width);
  height: var(--range-track-custom-height);
  cursor: var(--range-track-custom-cursor);
  background: var(--range-track-custom-background);
  border-radius: var(--range-track-custom-border-radius);
}

/* MS stuff */

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--range-track-custom-background);
  border-radius: var(--range-track-custom-border-radius);
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--range-track-custom-background-focus);
}

input[type="range"]::-ms-fill-upper {
  background: var(--range-track-custom-background);
  border-radius: var(--range-track-custom-border-radius);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--range-track-custom-background-focus);
}
